<div class="pt-10 w-full min-h-screen bg-gradient"> <!-- Adjust padding based on header height -->
<app-header></app-header>
  <router-outlet></router-outlet>
</div>


<!-- <div [@routeAnimations]="prepareRoute(o)">
  <router-outlet #o="outlet"></router-outlet>
</div> -->

<!-- Footer -->
<!-- <footer class="bg-gray-900 text-white py-10">
  <div class="max-w-5xl mx-auto flex flex-wrap justify-between">
    <div>
      <h3 class="text-lg font-semibold">Mock Interview AI</h3>
      <p class="text-gray-400">Your AI-powered interview partner.</p>
    </div>
    <div>
      <h3 class="text-lg font-semibold">Links</h3>
      <ul class="text-gray-400">
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
  <p class="text-center text-gray-500 mt-6">© 2025 Mock Interview AI. All rights reserved.</p>
</footer> -->