@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Satoshi';
    src: url('/assets/fonts/Satoshi-Regular.woff2') format('woff2'),
         url('/assets/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }  

.gradient {
    background: radial-gradient(circle at center, rgba(206, 173, 255, 0.4), rgba(161, 228, 178, 0.3), rgba(255, 200, 150, 0.3));
    animation: radiateEffect 6s infinite alternate ease-in-out;
}

/* Custom global scrollbar */
::-webkit-scrollbar {
    width: 4px; /* Reduce the width for a smaller scrollbar */
    height: 4px; /* Also make horizontal scrollbars smaller */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
    background: transparent; /* Fully transparent background */
}

/* Scrollbar handle (the actual scrolling part) */
::-webkit-scrollbar-thumb {
    background: rgba(200, 200, 200, 0.8); /* Light grey */
    border-radius: 10px; /* Rounded edges */
}

/* Hover effect for scrollbar */
::-webkit-scrollbar-thumb:hover {
    background: rgba(180, 180, 180, 1); /* Slightly darker grey on hover */
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Satoshi', Verdana, sans-serif;
    letter-spacing: 0.08em;
  }
  

/* Apply scrollbar styles to all scrollable elements */
* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(200, 200, 200, 0.8) transparent; /* Light grey scrollbar with transparent track */

    /* WebKit (Chrome, Safari, Edge) */
    &::-webkit-scrollbar {
        width: 4px; /* Slim scrollbar */
        height: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(200, 200, 200, 0.8); /* Light grey */
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: rgba(180, 180, 180, 1); /* Slightly darker on hover */
    }
}



.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #6366f1; /* Indigo */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  